* {
    padding: 0;
    margin: 0;
}




/* navbar section start here */


#navbar-section {
    min-height: 300px;
}


#navbar-section .top-navbar {
    margin-top: 0;
    background: #f1f8fc;
    padding: 5px 0;
}

#navbar-section .top-nav-container {
    margin: 0 auto;
    padding: 5px;
    max-width: 1300px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

#navbar-section .location>p {
    padding: 10px;
    /* padding-right: 15px; */
    font-family: "Montserrat, sans-serif";
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #323846;
}

#navbar-section .call-us :nth-child(2) {
    color: #323846;
    padding-left: 10px;
    font-size: 13px;
    font-weight: 950;
    text-transform: uppercase;
    letter-spacing: 1px;
    gap: 50px;
}

#navbar-section .call-us {
    padding: 2px;
}

#navbar-section .call-us :nth-child(3) {
    color: rgb(50, 56, 70);
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 26px;
}


#navbar-section .bottom-navbar {
    background-color: #000000d1;
    padding: 15px 120px;
}



#navbar-section .bottom-nav-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#navbar-section .logo-image {
    width: 100px;
}

#navbar-section .logo-image>img {
    max-width: 60%;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    padding: 5px 10px;
}

#navbar-section .links-container {
    list-style-type: none;
    display: flex;
    gap: 20px;



}

#navbar-section .links-container>li>a {
    text-decoration: none;
    font-size: 18px;
    font-family: "Montserrat, sans-serif";
    text-transform: uppercase;
    color: #fff;
}

/* toggle icon */


.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
}

/* #navbar-section .question-btn>button {
    font-family: Montserrat, sans-serif;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #fff;
    color: #fff;
    background-color: #e80913;
} */

/* naVBAR SECTION ENDS HERE */

/* responsive navbar section start here */


@media (max-width: 768px) {

    .menu-toggle {
        display: block;
        font-size: 40px;
    }

    .links {
        width: 100%;

        /* this take the full width of the nav-container */

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    .links.active {
        max-height: 500px;
    }

    .links-container {
        flex-direction: column;
        gap: 15px;
        padding: 15px 10px;
    }

    .bottom-nav-container {
        flex-wrap: wrap;
    }

    /* changing logo */
    
    #navbar-section .logo-image>img {
        max-width: 40%;
    }

}





/* banner section start here */


#banner-section {
    padding: 30px 0px 30px 120px;

}

#banner-section .banner-section-parent {
    display: flex;

    justify-content: space-between;
}

#banner-section .banner-left {
    width: 45%;
    padding: 30px 60px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: auto; */
}


#banner-section .banner-right {
    width: 55%;
    height: 90vh;
    background: url("./images/banner-bg-image.jpg") right/cover no-repeat;
}

#banner-section .tag-line {
    font-size: 35px;
    font-weight: 700;
    font-family: "Open Sans", "sans-seri";
    line-height: 24px;
    color: rgb(17, 17, 17);
}

#banner-section .head-line {
    font-size: 35px;
    font-family: Roboto, sans-serif;
    line-height: 1.1;
    font-weight: 600;
    color: #e80913;
}

#banner-section .left-description {
    color: rgb(17, 17, 17);
    line-height: 1.8;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
}

#banner-section .banner-btn {
    border-radius: 20px;
}

#banner-section .banner-btn button {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    background-image: none;
    margin: 30px auto 0 0;
    padding: 15px 52px 17px 51px;
    background-color: #e80913;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

#banner-section .reference {
    color: rgb(17, 17, 17);
    font-size: 16px;
    margin-top: 37px;
}

/* banner section edns hree */

/* red section start here */

#red-section {
    background-color: #e80913;
    height: auto;
    padding: 30px 120px;
}


#red-section .red-cards-parent {
    display: flex;
    justify-content: space-between;
}

#red-section .red-transparent-card {
    padding: 50px 22px 20px;

}

#red-section .red-transparent-card>p {
    color: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-family: "Open Sans", sans-serif;
}

#red-section .red-transparent-card>h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.8;
    font-family: Roboto, sans-serif;
    margin-top: 15px;
    text-transform: uppercase;

}

/* red section ends here */

/* background section starts here */

#gym-section {
    height: 100vh;
}

#gym-section .background-container {
    position: relative;
    height: 100vh;
    background: url(./images/background-image.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

/* Overlay layer */
#gym-section .background-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2;
}

/* Content layer */

#gym-section .background-content {
    position: relative;
    z-index: 3;
}

.gym-container {

    padding: 150px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}




#gym-section .gym-heading>h2 {
    font-size: 70px;
    background-color: #fff;
    padding: 50px 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;

}

.gym-right {
    width: 40%;
}

.gym-left {
    width: 50%;
}

.gym-description {
    margin: 50px 0px;
}

.gym-description>p {
    color: #fff;
    font-size: 27px;
    line-height: 40px;
    text-align: justify;
    font-family: "Open Sans", sans-serif;
}

.gym-btn>button {
    padding: 25px 50PX;
    background-color: #e80913;
    font-size: 20px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    border: transparent;
}


/* gym-section ends here */

/* workout section start here */


#workout-section {
    height: 70vh;
    padding: 100px 120px;
    background-color: #e5e5e5;
    color: #111111;
}

#workout-section .workout-parent {

    margin: 0 auto;
    position: relative;

}

#workout-section .workout-left {
    width: 40%;
    height: 50vh;
    padding: 20px 30px;
    background: url(./images/workout-left-image.jpg) center/cover no-repeat;

}

#workout-section .workout-right {
    width: 40%;
    height: 40vh;
    padding: 30px 60px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 35%;
    top: 50%;
}


#workout-section .workout-right-heading>h4 {
    font-size: 48px;
    font-family: Roboto, sans-serif;
    font-weight: 700;

}

#workout-section .workout-right-description>p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #111111;
    line-height: 1.8;
    margin: 20px 0 0;
}

#workout-section .workout-btn>button {
    padding: 15px 50PX;
    margin-top: 20px;
    background-color: #e80913;
    font-size: 20px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    border: transparent;
}

/* workout section ends here */


#inspiration-section .inspiration-overlay {
    padding: 50px 120px 80px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(./images/inspiration--bg-image.jpg) center/cover no-repeat;
}

#inspiration-section .inspiration-overlay>h1 {
    color: #fff;
}

#inspiration-section .inspiration-content-parent {
    padding: 50px;
    text-align: center;
}

#inspiration-section .inspiration-heading>h1 {
    font-size: 55px;
    line-height: 1.1;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    color: #fff;
}

#inspiration-section .inspiration-description>p {
    color: #c0c0c0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    margin-top: 20px;
}


#inspiration-section .inspiration-card {
    padding: 30px 20px;
    background-color: #fff;
    text-align: center;
}

#inspiration-section .inspiration-card-image>img {
    width: 80%;


}

#inspiration-section .inspiration-card-name>h4 {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    margin-top: 10px;
}

#inspiration-section .inspiration-card-description>p {
    color: #c0c0c0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.8;
    margin-top: 10px;
}

#inspiration-section .inspiration-card-more>span {
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    border-bottom: 1px solid orange;
}

#inspiration-section .inspiration-cards-parent {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 50px;
}

/* inspiraton section ends here */

/* App section starts here */


#app-section {
    padding: 80px 120px;

}

.app-section-parent {
    display: flex;
    justify-content: space-between;
}

#app-section .app-left-section {
    width: 50%;
    /* padding: 30px 40px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: flex-start;
}

#app-section .mobile-tab>h6 {
    display: inline-block;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    color: #e80913;
    font-weight: 500;
    background-color: #f6979c;
    padding: 5px 25px
}

#app-section .app-heading>h2 {
    color: #111111;
    font-size: 48px;
    font-weight: Roboto, sans-serif;
    font-weight: 600;
    margin-top: 20px;
}

#app-section .app-description>p {
    font-size: 21px;
    color: #111111;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    line-height: 1.6;
}

#app-section .app-images {
    margin-top: 40px;
}

#app-section .app-images>img {
    width: 20%;
    margin-right: 20px;
}

#app-section .app-right-section {
    width: 50%;
    padding: 20px 30px;
    /* background: url(./images/app-right-image.jpg) top/cover; */
}

#app-section .app-right-section>IMG {
    width: 80%;
}


/* app section ends here */

/* next-level section starts here */

#next-level-section .overlay-background {
    padding: 40px 120px;
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/next-level-bg-image.jpg);
}

#next-level-section .next-level-content-center {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#next-level-section .next-level-heading {
    font-size: 30px;
    font-family: Roboto, sans-serif;
    color: #ffffff;
}

#next-level-section .next-level-descriptiom {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: #fff;
    margin-top: 30px;
}

#next-level-section .next-level-tabs {
    text-align: center;
    margin-top: 40px;
}

#next-level-section .about-btn {
    background-color: #d10811;
    font-family: "Open Sans", sans-serif;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-right: 30px;

}

#next-level-section .find-gym-btn {
    box-sizing: border-box;
    background-color: transparent;
    padding: 20px 45px;
    color: #fff;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #fff;
}

/* next-level section ends here */

/* journey section starts here */

#journey-section {
    padding: 50px 120px;
    background: linear-gradient(#e5e5e5 0%, #e5e5e5 60%, #fff 60%, #fff 100%);
}

#journey-section .journey-section-parent {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}


#journey-section .journey-left {
    width: 40%;
    height: 70vh;
    padding: 10px 5px;
    background: url(./images/journey-left-image.jpg) center/cover no-repeat;
    border-radius: 20px;
}

#journey-section .journey-right {
    width: 40%;
    padding: 20px 30px;
    text-align: center;
}


#journey-section .journey-right * {
    margin-top: 20px;
}

#journey-section .mobile-btn>h6 {
    display: inline-block;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    color: #e80913;
    font-weight: 500;
    background-color: #f6979c;
    padding: 5px 25px
}

#journey-section .jouney-heading {
    font-size: 48px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

#journey-section .journey-description {
    font-size: 20px;
    color: #111111;
    text-align: center;
    line-height: 1.6;
}

#journey-section .journey-communications {
    padding: 20px 30px;
}


#journey-section .journey-communications span {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #111111;
    ;
    line-height: 1.8;

}

#journey-section .journey-communications a {
    font-family: Montserrat, sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: #111111;
    ;
    line-height: 1.8;
    text-decoration: none;
}


.journey-section-cards-parent {
    padding: 70px 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.journey-card1 {
    background-image: url(../assets/images/inspiration-image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: 400px;
    background-position: center;
}

.journey-card2 {
    background-image: url(../assets/images/inspiration-image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: 400px;
    background-position: center;
    margin-top: 100px;
}

.journey-card3 {
    background-image: url(../assets/images/inspiration-image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: 400px;
    background-position: center;
}




.journey-card-special {
    background-image: url(../assets/images/chest-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: 400px;
    background-position: center;
    margin-top: 100px;
}

/* journey bottom sub-section starts here */

.journey-bottom-section-parent {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    /* align-items: center; */

}

.journey-bottom-phone>p {}


.journey-bottom-left {
    width: 50%;
    padding: 20px 30px;
}

.journey-bottom-right {
    width: 50%;
    padding: 20px 30px;
}

.journey-bottom-description * {
    margin-top: 20PX;
    margin-bottom: 20px;
}


.journey-bottom-description>h4 {
    font-family: Roboto, sans-serif;
    color: #111111;
    font-size: 44px;
    font-weight: 700;
}


.journey-bottom-description>p {
    font-size: 26px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    color: #111111;
    line-height: 1.8;
}

.journey-bottom-email-input>input {
    width: 60%;
    background-color: #e5e5e5;
    padding: 10px 20px;
}


.journey-bottom-btn>button {
    background-color: #e80913;
    padding: 10px 20px;
    color: #fff;
}

.journey-bottom-right-heading>h1 {
    font-size: 50px;
    font-size: 60px;
    line-height: 1.1;
    font-weight: 600;
    font-family: Roboto, sans-serif;
}

.journey-bottom-phone {
    display: flex;
    align-items: center;
    color: #e80913;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 30px;
}



/* journey section ends here */


/* membership-section starts here */

#membership-section {}

.membership-overlay-background {
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/membership-bg-image.jpg) top/cover no-repeat;
    padding: 40px 60px;
}

#membership-section .membership-heading {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
    font-family: Roboto, sans-serif;
}

.membership-description>p {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    line-height: 1.8;
    margin-top: 20px;
}

.membership-content {
    text-align: center;
}


/* membership section ends here */


/* health section starts here */


#health-section {
    height: 100vh;
    background-color: #e5e5e5;
}


.health-card {
    padding: 40px 80px;
    width: 20%;
    background-color: #fff;
}

.health-card>h3 {
    font-family: Roboto, sans-serif;
    font-size: 50px;
    margin-bottom: 30px;
}

.health-card>p {
    font-family: "Open Sans", sans-serif;
}